/* AddSong Component */
.add-song-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.add-song {
  position: absolute;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 30%;
  max-height: 80%; 
  height: auto; 
  overflow-y: auto; 
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.dialog-heading {
  font-size: 1.2em;
  font-weight: bold;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #333;
}

.dialog-body {
  margin-bottom: 20px;
}

.form-field {
  margin-bottom: 15px;
}

.form-field label {
  margin-bottom: 5px;
  display: flex;
  padding: 4px 0px;;
  align-items: flex-start;
  font-weight: 500;
}

.form-field input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #e5e2e2;
  border-radius: 4px;
}
.form-field input[type="text"]:focus {
  outline: 1px solid black;
}

input[type="file"] {
  display: none;

}
.custom-file-upload {
  display: flex;
  padding: 5px 16px;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 8px;
  border-radius: 2px;
  border: 1px solid  #D9D9D9;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
}
@media (max-width: 1500px) {
  .custom-file-upload {
    width: 100%; /* Adjust font size for smaller screens */
  }
}
.thumbnail-preview {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-top: 10px;
  justify-content: space-between;
  border: 1px solid #D9D9D9;
  padding: 5px;
}
.thumbnail-span{
  display: flex;
  flex-direction: row;
}
.thumbnail-name{
  display: flex;
  align-items: center;
  color: #1890FF;
}
.thumbnail-preview img {
  max-width: 80px; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px;
}

.delete-icon {
  cursor: pointer;
  color: #ff4d4f; /* Red color for the delete icon, you can adjust it */
  font-size: 1.5em;
}
.thumbnail-message{
  color: #ccc;
  font-size: small;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.dialog-footer button {
  padding: 5px 16px;
  background-color: #D9D9D9;
  color: #000000D9;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.dialog-footer button:last-child {
  background-color: #1890FF;
  color: #FFFFFF;
}
