.btn-child {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 205px);
  border-radius: 12px;
  background-color: var(--primary-color);
  width: 410px;
  height: 50px;
  cursor: pointer;
}
.sign-in {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 29px);
}
.btn-child:hover{
 background-color: #4d1581;
}
.sign-in.loading{
  display: none;
}
.btn,
.description {
  position: absolute;
  left: calc(50% - 207px);
  width: 410px;
  height: 50px;
  cursor: pointer;
}
.description {
  top: calc(50% - 64px);
  font-size: var(--small-text-size);
  color: var(--text-primary);
  text-align: left;
  display: inline-block;
  width: 414px;
  height: 49px;
  cursor: text;
}
.rectangle-parent {
  position: absolute;
  left: 10px;
}
.react-tel-input .country-list .country {
  color: black;
}
.react-tel-input {
  position: relative; /* Change to relative positioning */
  top: 498px;
  z-index: 10;
  border: 1px solid black;
  width: 19%;
  border-radius: 5px;
  left: calc(50% - 207px);
  outline: none;
  height: 59px;
  width: 407px;
}
.react-tel-input .form-control:focus{
    box-shadow: none;
    border:none;
}

.react-tel-input .form-control {
  font-weight: bold; 
  border:none;
}

.react-tel-input .flag-dropdown {
  position: absolute;
  left: 0;
  padding: 0;
  border-radius: 3px 3px 0 0; /* Adjust border-radius as needed */
}
.react-tel-input .form-control {
  position: absolute;
  left: 45px;
  width: 75%;
  height: 100%; /* Take up the full height of the .react-tel-input */
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 18.5px 14px 18.5px 10px; /* Adjust padding as needed */
  font-weight: bold;
  border: none;
  outline: none; /* Remove default focus styles */
}
.btn-parent,
.rectangle-parent,
.sign-in1 {
  position: absolute;
  left: calc(50% - 207px);
}
.sign-in1 {
  top: calc(50% - 119px);
  font-size: 38px;
  font-weight: 500;
  color: var(--primary-color);
}
.btn-parent {
  top: calc(50% + 69px);
  width: 414px;
  height: 50px;
}
.btn-child.loading {
  background: url('../assests/Spinner.svg') no-repeat center center;
}
.login-login-page {
  position: relative;
  background-color: var(--background-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--background-white);
  font-family: var(--small-text);
}