.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensure the sidebar takes full height */
    background-color: #333; /* Add your preferred background color */
    color: #fff; /* Add your preferred text color */
  }
  
  .logo {
   
  }
  
  .menu-item {
    margin-bottom: auto;
  }
  
  .logout-button {
    margin-top: auto; /* Push the logout button to the bottom */
  }