.ant-table-thead .ant-table-cell {
  background-color: #fff !important;
  border: none !important
}
.song-container{
  display: flex;
  align-items: center;
}
.button-container{
    display: flex;
    justify-content: space-evenly;
}
.play-button,
.pause-button,
.delete-button {
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 4px;
}
.play-button{
  width: 40px;
  height: 40px;
  background: url('../assests/Start.svg') no-repeat center center;
}
.pause-button {
  width: 40px;
  height: 40px;
  background: url('../assests/Stop.svg') no-repeat center center;
}
.delete-button{
  width: 40px;
  height: 40px;
  background: url('../assests/delete.svg') no-repeat center center;
}

