/* SongsListingPage.css */

.page-container {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4; /* Add your preferred background color for the main content */
  }
  