@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
  font-family: Roboto;
}
:root {
  /* fonts */
  --small-text: Roboto;

  /* font sizes */
  --font-size-lg: 18px;
  --small-text-size: 12px;

  /* Colors */
  --background-white: #fff;
  --primary-color: #552583;
  --tertiary-color: #d0d3d4;
  --text-primary: #101920;
}